<footer class="bd-footer bg-light">
  <div class="container py-3">
    <div class="row align-items-start">
      <div class="col-auto mt-1">
        <a class="footer-brand" href="#">
          <div class="brand">
            <div class="row row-cols-2 m-0 p-0 gx-1">
              <div class="col text-center lh-1">S</div>
              <div class="col text-center lh-1">H</div>
              <div class="col text-center lh-1">O</div>
              <div class="col text-center lh-1">P</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <ul class="list-unstyled small text-muted">
          <li class="mb-2">Designed and built with all the love in the world by Walmir Silva.</li>
          <li class="mb-2">Code is not licensed 2022.</li>
          <li class="mb-2">Currently v1.0.0.</li>
        </ul>
      </div>
    </div>
  </div>
</footer>